#all{
   position: absolute;
   width: 1500px;
   height:100%;
}

 

 #horizontal-menu .navbar {
   list-style-type: none;
   
}
 
#home{
		position:absolute;
		top:6px;
		left:20px;
}

#profile{
	position:absolute;
	top:25px;
	width:50px;
	left:900px;
}

#logo1{
	position:absolute;
	top:13px;
	width:300px;
	left:420px;
	font-family:Fantasy;
	font-size: 30px;
	color: #8d8d8d;
}


 #horizontal-menu .navbar li:first-child{
border-left: none;
} 

 .navbar a {
text-decoration: none;
   width: 50px;
   display: block;
   font-size: 18px;
   font-family: "Trebuchet MS", Dotum;
   color: #8d8d8d;
}
 


#topMenu {
   width:100%;
  top:55px;
   position: absolute;
}

#topMenu .menu {
   list-style-type: none;
   margin: 0 auto;
   padding: 0 auto;
}

#topMenu .menu li {
   color: white;
   background-color: #2d2d2d;
   float: left;
   position: absoulte;
   line-height: 30px;
   vertical-align: middle;
   text-align: center;
   padding: 0px 2px 0px 2px;
   margin: 0 auto;
}

#topMenu .menu li:first-child {
   border-left: none;
}

.menu a:hover {
   border-bottom: 3px solid red;
}

.menu a {
   text-decoration: none;
   width: 150px;
   display: block;
   font-size: 12px;
   font-weight: bold;
   font-family: "Trebuchet MS", Dotum;
   color: white;
   
}






