@CHARSET "UTF-8";

#all {
	position: absolute;
	width: 1500px;
}

#topMenu {
	width: 100%;
	margin: 0;
	padding: 30px 0 30px 0;
	position: absolute;
}

#topMenu .menu {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 auto;
}

#topMenu .menu li {
	color: white;
	background-color: #2d2d2d;
	float: left;
	position: absoulte;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding: 0px 2px 0px 2px;
	margin: 0 auto;
}

#topMenu .menu li:first-child {
	border-left: none;
}

.menu a {
	text-decoration: none;
	width: 150px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum;
	color: white;
}

a:hover {
	border-bottom: 3px solid red;
}
/* -----------------------------------*/
.main-Kanban1 {
	margin: 3px;
	padding: 60px 0 0 133px;
}

/* center */
#center {
	position: absolute;
	width: 1500px;
	margin-top: 150px;
}

.profile {
	float: left;
}

.profile li {
	list-style-type: none;
	margin-left: 100px;
}

#profile_btn {
	height: 40px;
	width: 150px;
	margin-left: 15px;
	background-color: white;
	color: black;
	border: 1px solid #e0dee0;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.information {
	float: left;
	margin-left: 60px;
	font-size: 16px;
		font-weight: bold;
	font-family: "Trebuchet MS", Dotum;
	
}

#save, #cancle {
	height: 40px;
	width: 100px;
	margin-left: 55px;
	background-color: #2d2d2d;
	color: white;
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.profile li label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	margin-left: 30px;
}

.profile li input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
